# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
scikit-learn>=0.18
#json5=0.9.5=py_0
#jsonschema=3.2.0=py_2
matplotlib=3.3.2=haa95532_0
matplotlib-base=3.3.2=py38hba9282a_0
numpy=1.19.5=pypi_0
numpy-base=1.19.2=py38ha3acd2a_0
numpydoc=1.1.0=pyhd3eb1b0_1
pandas=1.2.1=py38hf11a4ad_0
pickleshare=0.7.5=pyhd3eb1b0_1003
seaborn=0.11.1=pyhd3eb1b0_0